*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(30, 38%, 92%)
}
body p{
    font-size: 14px;
}
section h2{
    color: hsl(228, 12%, 48%)
}
section h1{
    color: hsl(212, 21%, 14%)
}
section{
    background-color: hsl(0, 0%, 100%);
}
.Perfume{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
    
}