*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(47, 82%, 60%);
    display: flex;
    justify-content: center;
    align-items: center;

}
#main{
    background-color: white;
    border: 1px solid;
    width: 500px;
    height: 550px;
    margin-top: 200px;
    border-radius: 5px;
    border: none;
    box-shadow: 20px 20px 20px black;
    display: flex;

}
#main {
    
    background-color: white;
    width: 90%px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
}

button{
    background-color: yellow;
    height: 30px;
    border-radius: 8px;
    position: relative;
    left: 30px;
    top: 10px;
    padding: 5px;
    color: black;
    font-size: medium;
}

h4{
    position: relative;
    top: 20px;
    left: 30px;
    font-size: 20px;
    font-weight: 500;
}
h1{
    position: relative;
    top: 30px;
    left: 30px;
    font-size: 30px;
    font-weight: 500;
}

h1:hover{
    transition: 0.5s;
    color: hsl(47, 82%, 60%);
}
p{
    position: relative;
    top: 40px;
    left: 30px;
    font-size: 15px;
    font-weight: 300;
    color: gray;
}
#avatar{
    width: 20px;
    position: relative;
    top: 55px;
    left: 30px;
}
strong{
    position: relative;
    top: 50px;
    left: 40px;
    font-size: 15px;
    font-weight: 500;
}